@font-face {
  font-family: 'aaux';
  src: url('font/aaux.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.logo {
    font-family: 'aaux', sans-serif;
    color: rgb(38, 38, 38);
    font-weight: bold;
    letter-spacing: 0.5px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* aumentato */
}


nav {
  font-family: 'aaux', sans-serif;
  display: flex;
  position: fixed;
  top: 80px;
  left: 0;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0px;
  font-size: 13px;
  z-index: 1001; /* aumentato */
  cursor: none;
  opacity: 1;
  transition: opacity 1s;
  pointer-events: auto;
}

nav a {
  color: rgb(88, 83, 86);
  text-decoration: none; /* rimuove il sottolineato blu */
  top: 80px;
  background-color: transparent;
  margin: 20px; /* spazio tra i link */
  transition: color 0.2s;
  pointer-events: auto; /* Permette l'interazione */
}

nav a:hover {
    cursor: none;
    background-color: transparent;
    text-decoration: underline;
    transition: 1s;
    color: rgb(88, 83, 86);
}

nav.fade-out {
  opacity: 0;
  transition: opacity 0.7s ease-in-out; /* Durata del fade-out */
}

nav.hidden {
  opacity: 0;
  pointer-events: none;
}

nav.fade-in {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 2s ease-in-out;
}

.Backbtn {
font-family: 'aaux', sans-serif;
  display: flex;
  position: fixed;
  top: 57px;
  left: 0;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0px;
  font-size: 13px;
  z-index: 1001; /* aumentato */
  cursor: none;
  opacity: 1;
  transition: opacity 1s;
  pointer-events: auto;
    text-decoration: none; /* Rimuove il sottolineato */
}

.Backbtn.hidden {
  display: none;
}

.Backbtn.fade-in {
  opacity: 1;
  pointer-events: auto;
}

.Backbtn.fade-out {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.Backbtn a {
  color: rgb(88, 83, 86); /* Colore del testo */
  text-decoration: none; /* Rimuove il sottolineato */
  background-color: transparent; /* Sfondo trasparente */
  margin: 20px; /* Spazio tra i link */
  transition: color 0.2s; /* Transizione per il colore */
}

.Backbtn a:hover {
  text-decoration: underline; /* Sottolineato al passaggio del mouse */
  color: rgb(88, 83, 86); /* Colore al passaggio del mouse */
}

.Backbtn a:visited {
  color: rgb(143, 143, 143); /* Colore per i link visitati */
}

.Backbtn a:active {
  color: rgb(143, 143, 143); /* Colore per i link attivi */
}
.contact-content a:visited{
  color: rgb(88, 83, 86);
}

.homeimg{
  display: block;
  position: fixed;
  top: 165px; /* sotto la navbar */
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.8s ease, filter 0.5s ease;
  filter: blur(0px);
  z-index: 3;
  pointer-events: none;
}

.homeimg.visible {
  opacity: 1;
  z-index: 1;
}

.homeimg.blurred {
  filter: blur(111px);
}

.dot-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 5px;
  height: 10px;
  background-color: blue;
  border-radius: 20%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}
html, body {
  cursor: none;
}
html, :hover{
  cursor: none; /* Nasconde il cursore originale */
}

.contact {
  font-family: 'aaux', sans-serif;
  font-size: 12px;
  color: rgb(88, 83, 86);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(3px);
  text-align: center;
  transition: opacity 0.3s;
  z-index: 1000;
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
  cursor: none;
}

.contact.hidden {
  opacity: 0;
  pointer-events: none;
}

.mail {
  font-family: 'aaux', sans-serif;
  font-size: 12px;
  color: rgb(88, 83, 86);
  text-align: center;
  display: flex;
  gap: 9px;
  align-items: center;
}

.contact-content {
  font-family: 'aaux', sans-serif;
  font-size: 12px;
  color: royalblue;
  text-align: center;
  display: flex;
  gap: 9px;
  align-items: center;
}

.contact-content a {
  text-decoration: none;
}
.contact-content a:visited {
  color: blue;
}
.contact-content a:hover {
  text-decoration: underline;
}
.contact-content a:active {
  text-decoration: underline;
  color: rgba(38, 38, 38, 0.3);
}

.Close {
  font-size: 20px;
  color: rgb(88, 83, 86);
  text-decoration: none;
  transition: text-decoration 0.2s;
}

.Close:hover {
  text-decoration: none !important;
  color: rgb(225, 27, 27);
}


.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px); /* effetto sfocatura */
  background: rgba(255, 255, 255, 0.5); /* leggera luce bianca */
  opacity: 1;
  z-index: 999;
  transition: opacity 1.5s ease, backdrop-filter 1.5s ease; /* transizione fluida */
}

.blur-overlay.blur-out {
  backdrop-filter: blur(0px);
  opacity: 0;
  pointer-events: none;
}

footer {
  font-family: 'aaux', sans-serif;
  font-size: 9px;
  position: fixed;
  margin: 5px;
  bottom: 0px;
  left: 0;
  height: 15px;
  color: rgba(38, 38, 38, 0.3);
  text-align: center;
  z-index: 9999;
}

.projects-gallery {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 55px;
  position: fixed;
  top: 0;
  left: 100px;
  width: 100vw;
  height: 100vh;
  z-index: 21;
}

.project-img-wrapper {
  position: relative;
  display: inline-block;
}

.project-label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0px 0;
  text-align: center;
  opacity: 0.0;
  transition: opacity 0.7s;
  color: #7b889c;
  font-size: 13px;
  pointer-events: none;
  text-shadow: 0 0px 5px #7b889c;
  border-radius: 0px;
  font-family: 'aaux', sans-serif;
}

.project-label.visible {
  opacity: 0;
}

.project-label.fade-out {
  opacity: 0 !important; /* Forza l'opacità a 0 durante il fade-out */
}

.project-img {
  width: 280px;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s, filter 0.4s;
}

.project-img:hover {
  filter: blur(4px);
}

.project-img.visible {
  opacity: 1;
}

.project-img-wrapper:hover .project-label {
  opacity: 1;
}

.project-img-wrapper:hover .project-img {
  filter: blur(4px);
}

.project-img.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.projects-gallery.hidden {
  display: none;
}

.hidden {
  display: none !important;
}


.scroll-hint {
  text-align: center;
  position: fixed;
  top: 50%; /* Centrato verticalmente */
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'aaux', sans-serif; /* Stesso font del sito */
  font-size: 1.3rem; /* Dimensione del testo */
  color: rgb(0, 0, 0); /* Colore nero */
  opacity: 0; /* Inizialmente invisibile */
  transition: opacity 0.8s; /* Transizione per fade-in e fade-out */
  z-index: 199; /* Assicurati che sia visibile sopra gli altri elementi */
}

.scroll-hint.visible {
  opacity: 1; /* Mostra il testo */
}

.gallery-prj2 {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  width: 100vw;
  max-width: 100vw;
  background: transparent;
  padding: 0; /* nessun spazio ai bordi */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  overflow-y: visible;
  white-space: nowrap;
  box-sizing: border-box;
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE and Edge */
  scroll-snap-type: x mandatory;
  padding-left: 50vw;
  padding-right: 50vw;
  scroll-padding-left: 20vw;
  scroll-padding-right: 20vw;
  height: 100vh; /* oppure 70vh, regola a piacere */
  min-height: 350px; /* opzionale, per garantire spazio */
}

.gallery-prj2.hidden {
  display: none;
}

.gallery-prj2::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Opera */
}

.gallery-prj2-row {
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;     /* Niente a capo */
  width: max-content;    /* Larghezza automatica in base alle immagini */
}

.gallery-prj2-img {
  width: 170px;
  height: auto;
  opacity: 0;
  transition: opacity 0.6s, transform 0.5s cubic-bezier(.4,1.4,.6,1), box-shadow 0.5s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: inline-block;
  scroll-snap-align: center;
  flex-shrink: 0;
  filter: blur(11px);
}

.gallery-prj2-img.visible {
  opacity: 1;
}

.gallery-prj2-img.centered {
  transform: scale(2.5);
  z-index: 2;
  box-shadow: 0 4px 24px rgba(0,0,0,0.18);
  filter: blur(0px);
}

.gallery-prj3 {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: auto;
  max-width: 90vw;
  background: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  min-height: 350px;
  overflow: visible;
  box-sizing: border-box;
}

.gallery-prj3-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 18px;
  justify-items: center;
  align-items: center;
}

.gallery-prj3-img {
  width: 170px;
  height: auto;
  opacity: 0;
  transition: 
    opacity 0.6s,
    box-shadow 0.5s,
    transform 0.5s cubic-bezier(.4,1.4,.6,1);
  cursor: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: block;
}

.gallery-prj3-img:hover{
  transform: scale(1.1);
}

@media (max-width: 1200px) {
.gallery-prj3 {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 100vh;
  background: transparent;
  padding-bottom: 15px;
  padding-top: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  bottom: 10px;
  overflow: auto;
  box-sizing: border-box;
}

.gallery-prj3-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 18px;
  justify-items: center;
  align-items: center;
}

.gallery-prj3-img {
  width: 170px;
  height: auto;
  opacity: 0;
  transition: 
    opacity 0.6s,
    box-shadow 0.5s,
    transform 0.5s cubic-bezier(.4,1.4,.6,1);
  cursor: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: block;
}

.gallery-prj3-img:hover{
  transform: scale(1.1);
}
}

@media (max-width: 640px) {

  .gallery-prj3-row {
    display: flex; /* Usa flexbox */
    flex-direction: column; /* Disposizione verticale */
    gap: 18px; /* Spazio tra le immagini */
    justify-content: flex-start; /* Allinea gli elementi in alto */
    align-items: center; /* Centra gli elementi orizzontalmente */
    width: 100%; /* Adatta la larghezza */
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    margin-top: 470px;
    margin-bottom: 50px;
    background: transparent;
    padding-bottom: 5px;
    padding-top: 5px;
    max-height: 75vh;
    overflow-y: auto; /* Abilita lo scroll verticale */
    overflow-x: hidden; /* Disabilita lo scroll orizzontale */
  }

  .gallery-prj3-img {
    width: 170px;
    height: auto;
    opacity: 0;
    transition: 
      opacity 0.6s,
      box-shadow 0.5s,
      transform 0.5s cubic-bezier(.4,1.4,.6,1);
    cursor: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    display: block;
  }

  .gallery-prj3-img:hover {
    transform: scale(1.1);
  }
}

.main {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 60px 0px;
}

/* Stile del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

/* Immagine nel modal */
.modal-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 0px;
  box-shadow: 0 0px 10px rgba(21, 21, 21, 0.3);
}

/* Pulsante di chiusura */
.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: 'aaux', sans-serif; /* Applica il font "aaux" */
  font-size: 1.3rem; /* Dimensione del testo */
  color: rgb(0, 0, 0); /* Colore del testo */
  background: none; /* Nessuno sfondo */
  border: none; /* Nessun bordo */
  z-index: 3100;
  text-transform: uppercase; /* Opzionale: rende il testo maiuscolo */
  cursor: none;
  transition: color 0.3s;
}

/* Pulsanti "Next" e "Previous" */
.nextBtn,
.prevBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'aaux', sans-serif; /* Applica il font "aaux" */
  font-size: 1.3rem; /* Dimensione del testo */
  color: rgb(0, 0, 0); /* Colore del testo */
  background: none; /* Nessuno sfondo */
  border: none; /* Nessun bordo */
  z-index: 3100;
  text-transform: uppercase; /* Opzionale: rende il testo maiuscolo */
  cursor: none;
  transition: color 0.3s;
}

.nextBtn {
  right: 145px;
}

.prevBtn {
  left: 145px;
}

/* Hover per i pulsanti "Next" e "Previous" */
.closeBtn:hover,
.nextBtn:hover,
.prevBtn:hover {
  color: rgb(209, 209, 209); /* Cambia colore al passaggio del mouse */
  cursor: none;
}


.gallery-prj3-img.visible {
  opacity: 1;
}


.white-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  opacity: 0;
  pointer-events: none;
  z-index: 9998;
  transition: opacity 1.4s
}
.white-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.gallery-prj1 {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background: #ffffff;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  opacity: 0;
  transition: opacity 1s;
}
.gallery-prj1.visible {
  opacity: 1;
}

.gallery-prj1-row {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: max-content;
}

.gallery-prj1-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  flex-shrink: 0;
  opacity: 0;
  transition: opacity 1s;
  gap: 0px;
}

@media (max-width: 1111px) {
  .gallery-prj1-img {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s;
    object-fit: contain;
  }
}

.gallery-prj1-img.visible {
  opacity: 1;
}


.gallery-prj1-video {
  height: 100vh;
  object-fit: contain;
  background: rgb(11, 11, 8);
  display: block;
}

@media (max-width: 440px) {
  .gallery-prj1-video {
  width: 100vw;
  object-fit: contain;
  background: rgb(11, 11, 8);
  display: block;
}
}

.last-img-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(231, 239, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  z-index: 2;
  backdrop-filter: blur(20px);
}
.last-img-overlay.active {
  opacity: 1;
}

/* Stili per i link "Show video" e "Show process" su shooting10 */
.shooting10-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  z-index: 3;
}
.shooting10-link {
  font-family: 'aaux', sans-serif;
  font-size: 13px;
  color: rgb(38, 38, 38);
  text-decoration: underline;
  margin: 0;
  transition: color 0.2s;
}
.shooting10-link:hover {
  text-decoration: underline;
  color: #fff;
}

.gallery-collection-process {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: auto;
  max-width: 90vw;
  background: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  min-height: 350px;
  overflow: visible;
  box-sizing: border-box;
}

.gallery-collection-process.visible {
  opacity: 1;
}

.gallery-collection-process-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 18px;
  justify-items: center;
  align-items: center;
}

@media (max-width: 1380px) {
.gallery-collection-process-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 18px;
  justify-items: center;
  align-items: center;
}
}

@media (max-width: 900px) {
  .gallery-collection-process-row {
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    justify-content: flex-start; /* Allinea gli elementi in alto */
    align-items: center; /* Centra gli elementi orizzontalmente */
    position: relative; /* Rimuove il posizionamento fisso */
    gap: 18px; /* Spazio tra gli elementi */
    padding-top: 100px; /* Spazio extra sopra */
    padding-bottom: 200px; /* Spazio extra sotto */
    overflow-y: auto; /* Abilita lo scroll verticale */
    overflow-x: hidden; /* Disabilita lo scroll orizzontale */
    max-height: 35vh; /* Altezza massima basata sul viewport */
    width: 100vh;
  }
}

.gallery-collection-img {
  width: 260px;
  height: auto;
  opacity: 0;
  transition: 
    opacity 0.6s,
    box-shadow 0.5s,
    transform 0.5s cubic-bezier(.4,1.4,.6,1);
  cursor: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: block;
}

.gallery-collection-img:hover{
  transform: scale(1.1);
}

.gallery-collection-img.visible {
  opacity: 1;
}

/* --- MODAL CP: Gallery Collection Process --- */
.modalCP {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

/* Immagine nel modal CP */
.modal-imgCP {
  max-width: 90%;
  max-height: 90%;
  border-radius: 0px;
  box-shadow: 0 0px 10px rgba(21, 21, 21, 0.3);
}

/* Pulsante di chiusura CP */
.closeBtnCP {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: 'aaux', sans-serif;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  z-index: 3100;
  text-transform: uppercase;
  cursor: none;
  transition: color 0.3s;
}

/* Pulsanti "Next" e "Previous" CP */
.nextBtnCP,
.prevBtnCP {
  position: absolute;
  top: 91%;
  transform: translateY(-50%);
  font-family: 'aaux', sans-serif;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  z-index: 3100;
  text-transform: uppercase;
  cursor: none;
  transition: color 0.3s;
}

.nextBtnCP {
  right: 670px;
}

.prevBtnCP {
  left: 670px;
}

/* Hover per i pulsanti "Next" e "Previous" CP */
.closeBtnCP:hover,
.nextBtnCP:hover,
.prevBtnCP:hover {
  color: rgb(209, 209, 209);
  cursor: none;
}


/* Effetto fade-in per il body */
body {
  opacity: 0;
  transition: opacity 0.5s;
}

body.fade-in {
  opacity: 1;
}

::-webkit-scrollbar {
  display: none !important;
}

nav a,
.shooting10-link,
.contact-content a {
  cursor: none !important; /* Forza il cursore a essere nascosto */
}

@media (max-width: 1150px) {
  .projects-gallery {
   display: flex;
    flex-direction: column; /* Disposizione verticale */
    justify-content: flex-start; /* Allinea gli elementi in alto */
    position: relative; /* Rimuove il posizionamento fisso */
    top: 185px;
    left: auto; /* Rimuove il valore fisso */
    width: 100%; /* Adatta la larghezza */
    height: auto; /* Adatta l'altezza */
    overflow-y: auto; /* Abilita lo scroll verticale */
    overflow-x: hidden; /* Disabilita lo scroll orizzontale */
    gap: 70px; /* Spazio tra gli elementi */
    padding-bottom: 180px;
  }

  .project-img-wrapper {
    width: 100%; /* Adatta la larghezza degli elementi */
    max-width: 300px; /* Limita la larghezza massima */
  }

  .project-img {
    width: 100%; /* Adatta la larghezza delle immagini */
    height: auto; /* Mantiene le proporzioni */
  }

  .project-label {
    transform: translate(-50%, -50%);
    margin-top: 10px; /* Aggiunge spazio sopra il testo */
    text-align: center; /* Centra il testo */
    opacity: 1; /* Rende il testo visibile */
  }

.project-label.visible {
  opacity: 0.5;
}

.project-label.fade-out {
  opacity: 0 !important; /* Forza l'opacità a 0 durante il fade-out */
}
  }

@media (max-width: 500px) {
  .projects-gallery {
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    justify-content: flex-start; /* Allinea gli elementi in alto */
    position: relative; /* Rimuove il posizionamento fisso */
    top: 185px;
    left: auto; /* Rimuove il valore fisso */
    width: 100%; /* Adatta la larghezza */
    height: auto; /* Adatta l'altezza */
    overflow-y: auto; /* Abilita lo scroll verticale */
    overflow-x: hidden; /* Disabilita lo scroll orizzontale */
    gap: 70px; /* Spazio tra gli elementi */
    padding-bottom: 180px;
  }

  .project-img-wrapper {
    width: 100%; /* Adatta la larghezza degli elementi */
    max-width: 300px; /* Limita la larghezza massima */
  }

  .project-img {
    width: 100%; /* Adatta la larghezza delle immagini */
    height: auto; /* Mantiene le proporzioni */
  }

  .project-label {
    transform: translate(-50%, -50%);
    margin-top: 10px; /* Aggiunge spazio sopra il testo */
    text-align: center; /* Centra il testo */
    opacity: 1; /* Rende il testo visibile */
  }

.project-label.visible {
  opacity: 0.5;
}

.project-label.fade-out {
  opacity: 0 !important; /* Forza l'opacità a 0 durante il fade-out */
}
}

.scroll-to-end-btn {
  position: absolute;
  top: 50%; /* Posizionato al centro verticale */
  left: 42%; /* Posizionato al centro orizzontale */
  color: rgb(88, 83, 86);
  font-family: 'aaux', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 200; /* Sopra gli altri elementi */
  cursor: none;
  transition: opacity 0.3s ease-in-out;
  rotate: 270deg;
  mix-blend-mode:hard-light
}

.scroll-to-end-btn a {
  color: rgb(88, 83, 86);
  text-decoration: underline;
}

.scroll-to-end-btn.hidden {
  opacity: 0;
  pointer-events: none;
}

.scroll-to-end-btn.visible {
  opacity: 1;
  pointer-events: auto;
}

.scroll-to-end-btn-arrow {
  position: absolute;
  top: 41%; /* Posizionato al centro verticale */
  left: 45%; /* Posizionato al centro orizzontale */
  color: rgb(88, 83, 86);
  font-family: 'aaux', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 200; /* Sopra gli altri elementi */
  cursor: none;
  transition: opacity 0.3s ease-in-out;
  mix-blend-mode:hard-light
}
.scroll-to-end-btn-arrow a {
  color: rgb(88, 83, 86);
  text-decoration: none;
}
.scroll-to-end-btn-arrow.hidden {
  opacity: 0;
  pointer-events: none;
}
.scroll-to-end-btn-arrow.visible {
  opacity: 1;
  pointer-events: auto;
}

.language-switcher {
  position: fixed;
  top: 310px;
  left: 155px;
  font-family: 'aaux', sans-serif;
  font-size: 15px;
  color: rgb(88, 83, 86);
  z-index: 11; /* Sopra gli altri elementi */
  opacity: 0;
  cursor: none;
  transition: opacity 0.8s;
}
.language-switcher a {
  color: rgb(88, 83, 86);
  text-decoration: none;
  cursor: none;
}
.language-switcher a:hover {
  text-decoration: underline;
  cursor: none
}
.language-switcher.fade-in {
  opacity: 1;
  pointer-events: auto;
}
.language-switcher.fade-out {
  opacity: 0;
  pointer-events: none;
}
.language-switcher.hidden {
  display: none;
}

.about {
  position: fixed;
  top: 50%; /* Posizionato verticalmente al centro */
  left: 50%; /* Allineato a sinistra */
  transform: translate(-50%, -50%); /* Mantieni solo il centramento verticale */
  font-family: 'aaux', sans-serif;
  font-size: 13px;
  color: #707070;
  opacity: 0;
  text-align: left;
  pointer-events: none;
  transition: opacity 0.8s;
  width: 80%;
  z-index: 0;
  padding-left: 20px; /* Spazio dal bordo sinistro */
}
.about i {
  font-weight: 200;
  color: rgb(0, 0, 0)
}
.about b {
  font-weight: 900;
  color: rgb(0, 0, 0)
}

.about.visible {
  opacity: 1;
  pointer-events: auto;
}
.about.hidden {
  opacity: 0;
  pointer-events: none;
}

.material-download {
  position: fixed;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'aaux', sans-serif;
  font-size: 13px;
  color: blue;
  z-index: 11; /* Sopra gli altri elementi */
  opacity: 0;
  cursor: none;
  transition: opacity 0.8s;
}
.material-download a:hover {
  color: rgb(209, 209, 209);
  text-decoration: none;
  cursor: none
}
.material-download a {
  color: blue;
  text-decoration: none;
  cursor: none;
}
.material-download.fade-in {
  opacity: 1;
  pointer-events: auto;
}
.material-download.fade-out {
  opacity: 0;
  pointer-events: none;
}
.material-download.hidden {
  display: none;
}